div{ margin: auto; display: table;}
.mainnav li{
    background-color: rgb(39, 39, 39);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    position: relative;
    font-family:"DressedlessPro";
}
.Mainmenu{padding: 11px; background-color: rgb(82, 82, 82); }
.Ongoings{padding: 11px; background-color: rgb(65, 65, 65); }
.Сharacters{padding: 11px; background-color: rgb(44, 44, 44); }
.Lists{padding: 11px; background-color: rgb(24, 24, 24); }
.titles a{padding: 11px;}
.titles ul{
    padding: 11px;
    position: absolute;
}
.titles li{
    color: white;
    display: block;
    padding: 11px;
    text-decoration: none;
}
.mainnav a:hover { background-color: rgb(136, 136, 136);}
.mainnav li:hover { background-color: rgb(136, 136, 136);}
.mainnav a:visited { color: white;}
 .mainnav a{ color: white; text-decoration: none;}
 details{ color: white; text-decoration: none;}
.basement{
    text-align: center;
    clear: both;
}
@font-face {
    font-family:"DressedlessPro" ;
    src: url("Fonts/BarcadeBrawlRegular.ttf");
}